<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="EaiYYCorpBal">

    <resultMap id="CorpBalResult" type="haier.rms.model.EaiCorpBal">
    </resultMap>
    <resultMap id="YYCorpInfoResult" type="haier.rms.eaireport.YYCorpInfoBean">
    </resultMap>


    <insert id="insertRecord" parameterType="haier.rms.model.EaiCorpBal" >
    <![CDATA[
        INSERT INTO
        eai_yongyoucorpbal (
            id ,
            corpname ,
            item ,
            bankname ,
            corpacct ,
            balance,
            currcd,
            querydate
        ) VALUES (
            #{id,jdbcType=VARCHAR},
            #{corpname,jdbcType=VARCHAR},
            #{item,jdbcType=VARCHAR},
            #{bankname,jdbcType=VARCHAR},
            #{corpacct,jdbcType=VARCHAR},
            #{balance,jdbcType=VARCHAR},
            #{currcd,jdbcType=VARCHAR},
            #{querydate,jdbcType=DOUBLE}
        )
    ]]>
    </insert>

    <delete id="deleteAll">
        delete from eai_yongyoucorpbal
    </delete>

    <select id="selectCorpInfo"   resultMap="YYCorpInfoResult">
        select * from eai_yongyoucorpinfo  
    </select>

</mapper>
